#about-body{
  display: flex;
  justify-content: space-between;

  .about-txt{
    width: 70%;
    h3{
      padding: 3em 3em 3em 0;
      line-height: 1.5em;
      letter-spacing: 2px;
    }
  }

  .about-pic{
    width: 30%;
    display: flex;
    align-items: center;
    img{
      width: 100%;
      transform: rotate(90deg);
    }
  }
}
