@import "../_variables.scss";

#landing{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.vl {
    border-left: 6px solid $primary-color;
    height: 500px;
}

.landing-welcome {
    color: $primary-color;
    font-size: 5em;
}

.landing-question {
    color: $normal-text;
    font-size: 2em;
}

.landing-panel {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.landing-actions {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}

.landing-action {
    width: auto;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 1.75em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: thin solid $primary-color;
    background-color: transparent;
    color: $primary-color;
    padding: .75em 1em;
    border-radius: 5px;
    transition: .25s;
}
  
.landing-action:hover{
    background: rgba(64, 224, 208, .1);
}