@import "../_variables.scss";

.projects{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: auto;
}

.project-section{
  margin-top: 25px;
}

@media screen and (max-width: 480px) {
  .projects{
    flex-direction: column;
  }
}