@import "../_variables.scss";

.work-card-wrapper{
  width: 40%;
  margin: 3%;
}

.work-card:hover{
  box-shadow: 0 0 10px $primary-color;
}

.work-card{
  position: relative;
  padding: 7%;
  width: 100%;
  box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -15px;
  background-color: $light-background;
  transition: box-shadow 0.3s ease-in-out;
  transition-duration: .25s;
  border-radius: 15px;

  .work-position{
    color: $highlight-text;
    margin: 10px 0;
  }

  .work-company{
    color: $primary-color;
    margin: 10px 0;
  }

  .work-duration{
    margin: 10px 0;
  }

  ul{
    margin-top: 20px;
    li{
      margin: 20px 0;
    }
  }
}

@media screen and (max-width: 480px) {
  .work-card-wrapper{
    width: 100%;
  }
}