#about{
}

#about-body{
  display: flex;
  justify-content: space-between;

  h3{
    width: 70%;
    padding: 3em 3em 3em 0;
    line-height: 1.5em;
    letter-spacing: 2px;
  }

  div{
    width: 30%;
    display: flex;
    align-items: center;
    img{
      width: 100%;
    }
  }
}
