@import "../_variables.scss";

.project{
  height: auto;
  width: 30%;
  padding: 3%;
  margin: 3%;
  transition: .25s;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  background-color: $light-background;
  box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -15px;

  *{
    margin: 10px 0;
  }

  .project-title{
    color: $highlight-text;
  }

  .project-page{
    width: 100%;
  }

  .page{
    margin: auto;
    height: 75vh;
    width: 120vh;
  }

  .project-information{
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: left;

    h1{
      text-align: center;
    }
  }

}

.project.active{
  width: 100%;
  padding: 3%;
  margin: 3%;
}
